* {
    box-sizing: border-box;
  }

body {
    background-color: #94a8b3;
    font-size: 12px;
    font-family: -apple-system, 'avenir next';
}

header {
    text-align: center;
    margin: 5% 10%;
}


.logo {
    width: 50%;
    margin: 10% 0%;
    height: auto;
    opacity: 1;
}

.red {
    color: red;
    line-height: 0px;
}

.inline {
    display: inline;
}

.lh {
    line-height: 10px;
}

.time {
    font-size: 8px;
    color: black;
    line-height: 1px;
}

hr {
    border: 0.5px solid #8c8b8b;
    width: 40%;
}

.table-label {
    color: black;
    font-size: 2px;
}


.skyline {
    width: 50%;
    height: auto;
    opacity: 0.7
}


main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.BLUE {
    color:#0099cc;
}

.YELLOW {
    color: gold;
}

.ORANGE {
    color: #ff9933;
}

.GREEN{
    color: seagreen;
}

section {
    margin: 3% 10%;
}

.search {
    border: 1px solid black;
    padding: 5%;
    border-radius: 12px;
    background-color: white;
    width: 65%;
    justify-content: flex-start;
    text-align: center;
    box-shadow: 1px 1px #888888;
}

.advisory {
    border: 1px solid black;
    padding: 5%;
    border-radius: 12px;
    background-color: white;
    width: 65%;
    justify-content: flex-start;
    text-align: center;
    box-shadow: 1px 1px #888888;
}

.station-name {
    line-height: 0px;
}

.left {
    text-align: left;
}

.destination {
    font-size: 14px;
    font-weight: bold;
}

select {
    margin: 10%;
}

.small-logo{
    width: 5%;
    height: auto;
    opacity: 0.5;
    
}

/* larger screens */

@media screen and (min-width: 768px) {
    
    body {
        font-size: 18px;
        margin: 3% 15%;
    }

    main {
        justify-content: flex-start;
        flex-direction: unset;
        align-items: flex-start;
    }

    section {
        margin: 5% 5%;
    }

    .logo{
        width: 15%;
        margin: 1% 1%;
    }

    .search{
        padding: 3%;
        width: 40%;
    }

    select {
        margin: 5%;
    }

    .time{
        font-size: 14px;
        color: black;
    }

    hr {
        border: 1px solid #8c8b8b;
        width: 60%;
    }

    .destination {
        font-size: 18px;
    }

    .station-name {
        font-size: 20px;
    }

}