* {
    box-sizing: border-box;
    font-family: -apple-system, 'avenir next';
  }

body {
    background-color: #dde4e7;
    background-image: linear-gradient(#536976, #292E49);
    font-size: 12px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    text-align: center;
    margin: 5% 5%;
    font-size: 8px;
}

.ls-circle{
    list-style-type: circle;
}

.logo {
    width: 50%;
    margin: 10% 0%;
    height: auto;
    opacity: 1;
}

.red {
    color: red;
    line-height: 0px;
}

.inline {
    display: inline;
}

.med-logo{
    width: 7%;
    height: auto;
}

.lh {
    line-height: 10px;
}
.eta {
    font-family: -apple-system, 'avenir next';
}

.time {
    font-size: 8px;
    color: black;
    line-height: 1px;
}

hr {
    border: 0.5px solid #8c8b8b;
    width: 40%;
}
 
.table-label {
    color: black;
    font-size: 2px;
}


.skyline {
    width: 50%;
    height: auto;
    opacity: 0.3;
}


main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.BLUE {
    color:#0099cc;
}

.YELLOW {
    color: gold;
}

.ORANGE {
    color: #ff9933;
}

.GREEN{
    color: seagreen;
}

.RED{
    color: #ff0000;
}

section {
    margin: 3% 10%;
}

.search {
    border: 0.1px solid black;
    padding: 5%;
    border-radius: 12px;
    background-color: rgb(252, 252, 252);
    width: 65%;
    justify-content: flex-start;
    text-align: center;
}

.advisory {
    border: 0.1px solid black;
    padding: 5%;
    border-radius: 12px;
    background-color: white;
    width: 65%;
    justify-content: flex-start;
    text-align: center;
}

.adv-text {
    font-size: 12px;
    text-align: left;
    color: red;
    padding-right: 30px;
}

.station-name {
    line-height: 0px;
}

.left {
    text-align: left;
}

.destination {
    font-size: 14px;
    font-weight: bold;
}

select {
    margin: 10%;
}

.small-logo{
    width: 5%;
    height: auto;
    opacity: 0.5;
    
}

.typewriter h1 {
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .4s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
  }

/* larger screens */

@media screen and (min-width: 768px) {
    
    body {
        font-size: 18px;
        margin: 3% 15%;
    }

    main {
        justify-content: flex-start;
        flex-direction: unset;
        align-items: flex-start;
    }

    header {
        font-size: 18px;
    }


    section {
        margin: 5% 5%;
    }

    .logo{
        width: 15%;
        margin: 1% 1%;
    }

    .search{
        padding: 3%;
        width: 40%;
    }

    select {
        margin: 5%;
    }

    .time{
        font-size: 14px;
        color: black;
    }

    hr {
        border: 1px solid #8c8b8b;
        width: 60%;
    }

    .destination {
        font-size: 18px;
    }

    .station-name {
        font-size: 20px;
    }

    .adv-title {
        font-size: 18px;
    }

    .adv-text {
        font-size: 15px;
        text-align: left;
    }

    .med-logo{
        width: 8%;
        height: auto;
    }

}